<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896529393110-qnfi6unrgkqo0070nerl8u1fjn8q0113.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896529393110-qnfi6unrgkqo0070nerl8u1fjn8q0113</string>
	<key>API_KEY</key>
	<string>AIzaSyBz2knqP4McZwjbtQeebiw_eDfwbGu15ts</string>
	<key>GCM_SENDER_ID</key>
	<string>896529393110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demirbasim</string>
	<key>PROJECT_ID</key>
	<string>demirbasim</string>
	<key>STORAGE_BUCKET</key>
	<string>demirbasim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896529393110:ios:069b49d94cf37ce9023077</string>
</dict>
</plist>